bin/*
data/builder/hart/*
data/builder/fbs/*
*.pyc
*.exe
*.dll
*.lib
*.png
*.qm
*.tga
*.lpf
*.zip
*.piskel
*.7z
packaged.sha1.local
local.manifest
*_generated.h
*.sublime-project
*.sublime-workspace
*.oauth2
